@font-face {
  font-family:'Lato';
  src: url('/static/fonts/Lato/Lato-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family:'Roboto';
  src: url('/static/fonts/Roboto/Roboto-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family:'Roboto-Bold';
  src: url('/static/fonts/Roboto/Roboto-Bold.ttf') format('truetype'); 
}

@font-face {
  font-family:'Slabo';
  src: url('/static/fonts/Slabo/Slabo-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family:'Monoton';
  src: url('/static/fonts/Monoton/Monoton-Regular.ttf') format('truetype'); 
}

@font-face {
  font-family:'Quicksand';
  src: url('/static/fonts/Quicksand/Quicksand-Light.ttf') format('truetype'); 
}

body {
    
    
}